@using Microsoft.AspNetCore.Components.Authorization
@using GenoCRM.Components.Auth
@inject IStringLocalizer<GenoCRM.SharedResource> SharedLocalizer

<CascadingAuthenticationState>
    <Router AppAssembly="typeof(Program).Assembly" AdditionalAssemblies="new[] { typeof(Client._Imports).Assembly }">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="routeData" DefaultLayout="typeof(Layout.MainLayout)">
                <NotAuthorized>
                    @if (context.User.Identity?.IsAuthenticated != true)
                    {
                        <RedirectToLogin/>
                    }
                    else
                    {
                        <div class="container mt-5">
                            <div class="alert alert-danger">
                                <h4>@SharedLocalizer["AccessDenied"]</h4>
                                <p>@SharedLocalizer["NoPermissionToAccess"]</p>
                                <a href="/" class="btn btn-primary">@SharedLocalizer["GoHome"]</a>
                            </div>
                        </div>
                    }
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="routeData" Selector="h1"/>
        </Found>
    </Router>
</CascadingAuthenticationState>